# Mac OS files
.DS_Store
# HTML files
.html
# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
.Rproj
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# r proj files
.Rproj.user
.Rproj
.RData
# .rmd files
KeepNA
keepInteger
inst/doc
*Thumbs.db
# .zip from occCite
.zip
inst/shiny/rsconnect/
inst/shiny/debug*
inst/shiny/install*
.lintr
