#logHeader {
	position:relative;
	min-height:90px;
	background: inherit;
	z-index:10;
}
#logContent {
  position:absolute;
  z-index: 5;
}
#messageLog {
  height:100px;
  width:450px;
  padding:5px;
  overflow:auto;
  border:1px solid grey;
}

.log_start{
  color:CornflowerBlue;
}

.log_end{
  color:green;
}

.log_info{
  color:blue;
}

.log_warn{
  color:orange;
}

.log_error{
  color:red;
}

hr {
    border: none;
    height: 5px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.componentName {
  display:inline-block;
  font-size:16pt;
  font-weight:bold;
}
.compHelpButton {
  display:inline-block;
  margin:0px;
  font-size:14pt;
}
.rpkg {
  font-size:10pt;
  font-weight:bold;
}
.mod {
  display:inline;
  color:#699FA1;
  font-size:14pt;
  font-weight:bold;
}
.modHelpButton {
  color:#699FA1;
  margin:0px;
  font-size:12pt;
}
.modHelpButton:hover {
  color:#A5D6D9;
}
.modHelpButton:focus {
  color:#699FA1;
}
.sidebar_card {
  background-color: var(--bs-light-bg-subtle);
}
/* colour of radio buttons for module selection*/
.btn.btn-outline-secondary{
  background-color: var(--bs-light-bg-subtle);
}
.pkgTitl {
  font-size:10pt;
  font-weight:bold;
  font-style:italic;
}
.pkgDes {
  font-size:10pt;
  font-style:italic;
}
.package_info {
  gap: 0.01rem;
}
.package_spacer {
  padding-top: 0.8rem;
}
.step {
  color: #DD8627;
  font-weight:bold;
  font-size:14pt;
}
.stepText {
  font-style:italic;
  font-size:14pt;
}
.butReset {
  background-color: #C51E10;
  color: white;
  padding: 5px 5px;
  border: none;
}
.butReset:hover {
  background-color: #830D03;
  color: white;
}
.butResXf {
  background-color: #C51E10;
  color: white;
  padding: 1px 1px;
  border: none;
}
.hrDashed {
  border: 0;
  border-bottom: 1px dashed #606060;
  background: transparent;
}
.hrDotted {
  border: 0;
  border-bottom: 1px dotted #606060;
  background: transparent;
}

.leaflet-top {
  z-index: 999 !important;
}
#save_warning {
  color: red;
}
.save_icon {
  color:#606060;
  margin:0px;
}
.mod_icon {
  color:#699FA1;
  margin:0px;
}

/* hide empty panels created by bslib::nav_panel */
.container-fluid.html-fill-item.html-fill-container {
  display: none !important;
}

.bslib-sidebar-layout>.sidebar>.sidebar-content {
  gap: 0.5rem !important;
}

.fa-arrow-turn-down {
  transform: rotate(90deg) translate(2px, 2px);
  display: inline-block;
}

.radio-group-buttons {
  padding-bottom: 15px;
}

/* Allow selectinput dropdowns to escape cards */
.card, .card-body {
  overflow: visible !important;
}

/* Ensure footer is displayed below the sidebar */

.sidebar_container {
  display: flex;
  flex-direction: column;
  min-height: 91.5vh;
}

.ss_footer {
  margin-top: auto;
  font-size: 0.8rem
}





